body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.marc {
  position: relative;
  height: 40vw;
  width: 40vw;
  border: 1px solid gray;
}

.box {
  position: absolute;
  height: 40px;
  width: 40px;
  background: red;
}

.box2 {
  display: none;
  height: 40px;
  width: 40px;
  background-color: blue;

}

