body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(32, 42, 58);
}

.marc {
  position: relative;
  height: 40vw;
  width: 40vw;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.notices {
  display: none;
  position: absolute;
  top: 30vw;
}

.box {
  position: absolute;
  height: 40px;
  width: 40px;
  background: red;
}

.box2 {
  height: 40px;
  width: 40px;
  background-color: black;
}
